<div
  [formGroup]="formGroup"
>
  <ng-container *ngFor="let child of _config.children">
    <app-dynamic-form-control
      *ngIf="child.formType === 'field' && child.repeated === false"
      [formControlName]="child.name"
      [config]="child"
    ></app-dynamic-form-control>
    <app-dynamic-form-repeated
      *ngIf="child.formType === 'field' && child.repeated === true"
      [formControlName]="child.name"
      [config]="child"
    ></app-dynamic-form-repeated>
    <app-dynamic-form-group
      *ngIf="child.formType === 'group'"
      [formControlName]="child.name"
      [config]="child"
    ></app-dynamic-form-group>
  </ng-container>
</div>
