<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{config.title}}
    </mat-panel-title>
    <mat-panel-description>
      service: {{config.service}}, path: {{config.path}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  {{config.description}} <br>
  response:
  <br>
  <form *ngIf="dynamicFormConfig" [formGroup]="form" (ngSubmit)="suuu($event)">
    <app-dynamic-form-group [config]="dynamicFormConfig" [formControlName]="'request'"></app-dynamic-form-group>
    <button type="submit"> submit</button>
  </form>
  <pre style="overflow-y: scroll;">{{response}}</pre>
  <mat-action-row>
    <button mat-button color="primary" (click)="execute()">Execute</button>
  </mat-action-row>
</mat-expansion-panel>
