<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{config.title}}
    </mat-panel-title>
    <mat-panel-description>
      service: {{config.service}}, path: {{config.path}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  {{config.description}} <br>
  response:
  <br>
  <form *ngIf="dynamicFormConfig" [formGroup]="form">
    <app-dynamic-form-group [config]="dynamicFormConfig" [formControlName]="'request'"></app-dynamic-form-group>
  </form>
  <pre style="overflow-y: scroll;">{{response}}</pre>
  <mat-action-row>
    <button mat-raised-button color="primary" (click)="execute('USER')">Execute User</button>
    <button mat-raised-button color="primary" (click)="execute('ADMIN')">Execute Admin</button>
    <button mat-raised-button color="primary" (click)="execute('UNAUTHENTICATED')">Execute Unauthenticated</button>
  </mat-action-row>
</mat-expansion-panel>
